.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  z-index: 1;

  .logo-img {
    position: fixed;
    left: 20px;
    width: 160px;
    height: 80px;
    cursor: pointer;
  }

  .avatar-img {
    position: fixed;
    right: 15px;
    width: 55px;
    height: 55px;
    cursor: pointer;
  }
}

.nav-black {
  background-color: black;
}