.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;

  img {
    height: 80px;
  }

  button {
    padding: 11px 20px;
    border: none;
    border-radius: 3px;
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
  }
}

.content {
  margin: 12% auto;
  width: 80%;
  text-align: center;
  color: white;

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-weight: normal;
    margin: 35px 0;
  }

  form {
    display: flex;
    justify-content: center;

    input {
      width: 40%;
      height: 45px;
      outline: none;
      border: none;
      font-size: 1.1rem;
      padding-left: 15px;
    }
  
    button {
      padding: 13px 20px;
      outline: none;
      cursor: pointer;
      border: none;
      background-color: red;
      color: white;
      font-weight: 700;
      font-size: 1rem;
    }
  }

}