.banner {
  background-size: cover;
  background-position: center center;
  height: 35rem;
  color: white;
  position: relative;

  .shadow {
    background-image: linear-gradient(180deg, transparent, rgba(21, 21, 21, 0.6), rgb(13, 13, 13));
    width: 100vw;
    height: 100px;
    position: absolute;
    bottom: 0;
  }
}

.info-wrapper {
  position: absolute;
  left: 40px;
  top: 160px;
  text-align: left;

  h1 {
    font-size: 3rem;
  }

  .play-buttons {
    margin: 15px 0;

    .play-button {
      border: none;
      border-radius: 4px;
      padding: 10px 35px;
      cursor: pointer;
      background-color: rgba(#3a3737, 0.5);
      color: white;
      font-weight: 600;
      font-size: 15px;
    }

    .play-button:first-child {
      margin-right: 20px;
    }

    .play-button:hover {
      background-color: white;
      color: #3a3737;
      transition: all 0.5s;
    }
  }

  p {
    width: 23rem;
  }

}
